* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* border: solid; */
}

body {
  background-image: url(graphics/snow.jpg);
}

input[type='number'] {
  width: 100px;
  text-align: center;
}

.main-buttons {
  margin: 10px;
  padding: 5px;
}

p,
label,
a {
  font-size: large;
  font-weight: 600;
}

.under-link {
  text-decoration-line: underline;
  padding-bottom: 10px;
}
